body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da viewport */
    background-color: #f0f0f0; /* Cor de fundo da página */
}

.central-box {
    background-color: #fff; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 80%;
    max-width: 600px;
    text-align: center;
}
.simple-combobox {
    margin-top: 20px;
}

.simple-combobox .ui-selectonemenu {
    width: 100%; /* Ocupará toda a largura do contêiner pai */
    max-width: calc(100% - 40px); /* Considera a margem */
    min-width: 300px; /* Largura mínima de 300px */
    margin: 0 20px; 
}